/* Color: #FEFFFF (branco)  #22256B (azul) #191F4F (azul escuro) */

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
  background-color: #191F4F; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #191F4F, #22256B); 
}

a {
  color: #fdcc52;
  -webkit-transition: all .35s;
  transition: all .35s;
}

a:hover, a:focus {
  color: #fcbd20;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.menu-logo {
    max-width:150px;
    max-height:70px;
    width: auto;
    height: auto;
}
section {
    padding: 50px 0;
  }
  
  section h2 {
    font-size: 50px;
  }
  
  #mainNav {
    border-color: rgba(34, 34, 34, 0.05);
    background-color: white;
    font-weight: 200;
    letter-spacing: 1px;
  }
  
  #mainNav .navbar-brand {
    color: #ffffff;
    font-weight: 300;
    letter-spacing: 1px;
  }
  
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: #ffffff;
  }
  
  #mainNav .navbar-toggler {
    font-size: 16px;
    padding: 8px 10px;
    color: #222222;
  }
  
  #mainNav .navbar-nav > li > a {
    font-size: 16px;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 2px;
    
  }
  
  #mainNav .navbar-nav > li > a.active {
    color: #fdcc52 !important;
    background-color: transparent;
  }
  
  #mainNav .navbar-nav > li > a.active:hover {
    background-color: transparent;
    
  }
  
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: #222222;
  }
  
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: #fdcc52;
  }
  
  @media (min-width: 992px) {
    #mainNav {
      border-color: transparent;
      background-color: transparent;
    }
    #mainNav .navbar-brand {
      color: fade(white, 70%);
    }
    #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
      color: white;
    }
    #mainNav .navbar-nav > li > a,
    #mainNav .navbar-nav > li > a:focus {
      color: rgba(255, 255, 255, 0.7);
    }
    #mainNav .navbar-nav > li > a:hover,
    #mainNav .navbar-nav > li > a:focus:hover {
      color: white;
    }
}
  
  header.masthead {
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    color: white;

/* background: url("../img/fundo.png"); */
  }
  
  header.masthead .header-content {
    max-width: 500px;
    margin-bottom: 100px;
    text-align: center;
  }
  
  header.masthead .header-content h1 {
    font-size: 25px;
  }
  
  header.masthead .device-container {
    max-width: 325px;
    margin-right: auto;
    margin-left: auto;
  }
  
  header.masthead .device-container .screen img {
    border-radius: 3px;
  }
  
  @media (min-width: 992px) {
    header.masthead .header-content {
      margin-bottom: 0;
      text-align: left;
    }
    header.masthead .header-content h1 {
      font-size: 30px;
    }
    header.masthead .device-container {
      max-width: 325px;
    }
  }
  
  section.equipe {
    position: relative;
    padding: 100px 0;
    background-color: #FEFFFF;
    text-align: center;
  }
  
  section.equipe h2 {
    font-size: 50px;
    font-weight: 600;
    margin-top: 0;
  }
  
  section.equipe h3 {
    font-size: 25px;
    font-weight: 600;
    margin-top: 0;
    text-align: center;
  }
section.equipe p {
  font-size: 16px;
  padding: 10px;
}  
@media (min-width: 768px) {
  section.equipe h2 {
    font-size: 70px;
  }
}
.equipe-linha {
  margin-bottom: 70px;
  padding: 0 8px;
}
.equipe-pessoa {
  z-index: 1;
 
}
.equipe-pessoa img {
  border-radius: 50%;
  max-width:100px;
  max-height:100px;
  width: auto;
  height: auto;
}

.contatoSection {
  padding: 100px;
  text-align: left;
  background-color: #837f7f;
}
.contatoSection h2 {
  color: white;
  font-size: 18px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .contatoSection {
    padding: 100px;
    text-align: center;
  }  
  .contatoSection h2 {
    font-size: 28px;
    line-height: 2.5;
    text-align: center;
  }
}


footer {
  padding: 50px 0;
  text-align: left;
  color: rgba(255, 255, 255, 0.767);
}

footer p {
  font-size: 12px;
  margin: 0;
}
footer ul {
  margin-bottom: 0;
  font-size: 28px;
}
footer ul li a {
  font-size: 17px;
  color: rgba(255, 255, 255, 0.767);
  display: block;
}
footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
  text-decoration: none;
}
.footer-logo {
  max-width:100px;
  max-height:50px;
  width: auto;
  height: auto;
  padding-bottom: 10px;
}

  
.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: #fdcc52;
  background-color: #fdcc52;
}

.btn {
  border-radius: 300px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}

.bg-orange {
  background-color: #fcbd20;
}
